
```{=html}
<div class="list">
<% for (const [index, item] of items.entries()) { %>
    <div class="quarto-post body"
         data-categories="<%= item.categories %>"
         data-index="<%= index %>"
         style="display: flex; flex-direction: column; gap: 0;">
        <h3 class="listing-title" style="margin-top: 0.2rem">
            <a class="no-external" href="<%= item.link.href %>">
                <%= item.title %>
            </a>
        </h3>
        <div style="display: flex; flex-direction: row">
            <div style="margin: 4px 12px;flex: 2">
                <div class="listing-description"><%= item.description %></div>
                <div class="listing-categories">
                    <% for (const category of item.categories) { %>
                        <div class="listing-category" onclick="window.quartoListingCategory('<%= category %>'); return false;">
                            <%= category %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="metadata" style="margin: 4px 12px;flex: 1">
                <div class="listing-date"> 
                    <a class="no-external" href="<%= item.link.href %>">
                        <i class="fa-solid fa-<%= item.link.icon %>" aria-label="video"></i>
                        <%= item.link.text %>
                    </a>
                </div>
                <% if (typeof item["video-length"] === "string") { %>
                    <div class="listing-date">Länge: <%= item["video-length"] %></div>
                <% } %>
                <div class="listing-author">Autor*in: <%= item.author %></div>
                <div class="listing-date">Datum: <%= item.date %></div>
                <div class="listing-date">Lizenz: 
                    <a href="<%= item.license.href %>">
                        <%= item.license.text %>
                    </a>
                </div>
            </div>
        </div>
    </div>
<% } %>
</div>
```